<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<!-- Toolbar -->
<div class="container p-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body bg-dark bg-opacity-25">
        <div class="w-100 text-end mb-2">
          <img
            width="40"
            alt="Angular Logo"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
          />
        </div>
        <form (submit)="submitLocation(cityName,countryCode)">
          <div class="mb-3">
            <input type="text" class="form-control bg-dark text-danger fw-bold bg-opacity-25" placeholder="City Name" #cityName/>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control bg-dark text-danger fw-bold bg-opacity-25" placeholder="Country Code" #countryCode/>
          </div>
          <button class="btn btn-danger w-100 fw-bold mt-2">Get Weather</button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="weather"class="card card-body  bg-dark bg-opacity-25">
        <h1 class="text-center text-light fw-bold">{{weather.name}}</h1>
        <p class="text-danger fw-bold">Temperature: <span class="text-light fw-normal">{{weather.main.temp}} °C</span></p>
        <p class="text-danger fw-bold">Latitude: <span class="text-light fw-normal">{{weather.coord.lat}}</span></p>
        <p class="text-danger fw-bold">Longitude: <span class="text-light fw-normal">{{weather.coord.lon}}</span></p>
        <p class="text-danger fw-bold">Humidity: <span class="text-light fw-normal">{{weather.main.humidity}}</span></p>
        <p class="text-danger fw-bold">Pressure: <span class="text-light fw-normal">{{weather.main.pressure}}</span></p>
        <p class="text-danger fw-bold">Description: <span class="text-light fw-normal">{{weather.weather[0].description}}</span></p>
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
